.mission {
  position: relative;
}
.mission-statement {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 70%;
  transform: translate(-50%, -50%);
  color: #EDEDED;
  font-size: 25px;
  font-family: sans-serif;
}
.contributor {
  line-height: 0;
  text-align: right;
}
.about-info {
  background-color: #1A8792;
}
.about-message {
  background-color: inherit;
  color: #EDEDED;
  font-size: 20px;
  padding: 40px 30px;
  font-family: sans-serif;
}
.about-message h1 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 12px;
  font-family: sans-serif;
}
.about-message p {
  margin-bottom: 0px;
  text-align: left;
}

@media only screen and (min-width: 550px) {
  .mission-statement {
    font-size: 5vw;
  }
  .about-info {
    display: flex;
  }
  .about-photo {
    width: 50%;
  }
  .about-message {
    width: 50%;
    padding: 10% 5%;
  }
  .about-message h1 {
    font-size: 4vw;
  }
  .about-message p {
    font-size: 3.2vw;
  }
}
