.content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100%;
}
.error-message {
  text-align: left;
  width: 60%;
  padding: 30px;
  font-size: 25px;
  color: #626262;
}
.content img {
  width: 40%;
  height: 40%;
  margin-top: 30px;
  padding: 20px;
}

@media only screen and (min-width: 550px) {
  .error-message {
    font-size: 5vw;
  }
  .content img {
    width: 30vw;
    height: 30vw;
  }
}
