.bg-light {
  background-color: #B6C7AD !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active {
  color: #262626;
  background-color: #9EB492;
}
.navbar-light .navbar-nav .nav-link {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  color: #262626;
}
.navbar-brand {
  text-align: left;
}
.navbar-brand > img {
  height: 40px;
  margin: 10px;
}
.navbar .navbar-toggler-icon{
  padding: 20px;
}

/* Work Starts Here*/
